In [1]:
import pandas as pd

weather_fixed = pd.read_csv('../../weather/additional_weather_data/weather_data_fixed.csv')
all_takeoff = pd.read_csv('../../takeoff/total_takeoff_data/2024_takeoff.csv')

In [2]:
weather_fixed.head(10)

             timestamp  wind_direction  wind_speed  temperature  pressure
0  2024-01-01 00:00:00             120           5            1      3042
1  2024-01-01 01:00:00             120           5            1      3043
2  2024-01-01 02:00:00             140           5            2      3043
3  2024-01-01 03:00:00             160           8            3      3040
4  2024-01-01 04:00:00             150           5            3      3039
5  2024-01-01 05:00:00             160           5            4      3036
6  2024-01-01 06:00:00             190           5            5      3034
7  2024-01-01 07:00:00             200           5            5      3034
8  2024-01-01 08:00:00             210           5            4      3033
9  2024-01-01 09:00:00             210           5            4      3033

In [3]:
all_takeoff.head(10)

,날짜,항공사,편명,계획시간,출발시간,구분,현황,timestamp
0,20240101,몽골항공,OM308,00:05,00:01,여객,출발,2024-01-01 00:00:00
1,20240101,에미레이트항공,EK323,00:05,00:05,여객,출발,2024-01-01 00:00:00
2,20240101,카타르항공,QR859,00:15,00:51,여객,출발,2024-01-01 00:00:00
3,20240101,터키항공,TK91,00:15,00:18,여객,출발,2024-01-01 00:00:00
4,20240101,젯스타 에어웨이즈,JQ48,00:20,01:54,여객,지연,2024-01-01 01:00:00
5,20240101,타이거 에어 타이완(스마트캣),IT603,00:30,00:37,여객,출발,2024-01-01 00:00:00
6,20240101,세부퍼시픽항공,5J187,00:40,00:47,여객,출발,2024-01-01 00:00:00
7,20240101,네덜란드항공,KL856,00:55,01:04,여객,출발,2024-01-01 01:00:00
8,20240101,비엣젯항공,VJ975,01:45,01:56,여객,출발,2024-01-01 01:00:00
9,20240101,비엣젯항공,VJ839,01:50,02:09,여객,출발,2024-01-01 02:00:00

In [4]:
# 데이터 병합 (timestamp 기준으로 왼쪽 조인)
merged_df = all_takeoff.merge(weather_fixed, on='timestamp', how='left')

# 결과 확인
print(merged_df.head())

         날짜        항공사     편명   계획시간   출발시간  구분  현황            timestamp  \
0  20240101       몽골항공  OM308  00:05  00:01  여객  출발  2024-01-01 00:00:00
1  20240101    에미레이트항공  EK323  00:05  00:05  여객  출발  2024-01-01 00:00:00
2  20240101      카타르항공  QR859  00:15  00:51  여객  출발  2024-01-01 00:00:00
3  20240101       터키항공   TK91  00:15  00:18  여객  출발  2024-01-01 00:00:00
4  20240101  젯스타 에어웨이즈   JQ48  00:20  01:54  여객  지연  2024-01-01 01:00:00

   wind_direction  wind_speed  temperature  pressure
0             120           5            1      3042
1             120           5            1      3042
2             120           5            1      3042
3             120           5            1      3042
4             120           5            1      3043

In [6]:
merged_df.to_csv("./merged_data.csv", index=False)